/* You can add global styles to this file, and also import other style files */

// Variable overrides


// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";

textarea {
  resize: none;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
